.tableSong {
    font-family: 'Courier New', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    border-bottom: 1px solid;
    
    padding-top: 15px;
}

.tableSong span {
    flex: 4;
}

.tableSong span:first-of-type {
    flex: 1;
}

.tableSong span:last-of-type {
    flex: 1;
}

.tableSong:hover {
    cursor: pointer;
    background-color: #c3c0b1;
}